* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.logo {
  width: 118px;
  height: 28px;
  padding: 3rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-img {
  width: 300px;
  height: 153px;
  background-image: url(/assets/tablet/image-hero.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.text-description {
  padding: 3rem;
}

.text-description .title-description {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #28283D;
}

.text-description .features-description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #87879D;
  padding-top: 2rem;
}

.text-description .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.text-description .btn-container .btn-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 193px;
  height: 58px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #4D96A9;
  border-radius: 29px;
  margin-bottom: 1rem;
}

.text-description .btn-container .btn-download p {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.text-description .btn-container .btn-download p span {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #8FE3F9;
}

.text-description .btn-container .btn-wts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 139px;
  height: 58px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #855FB1;
  border-radius: 29px;
}

.text-description .btn-container .btn-wts p {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.text-description .btn-container .btn-wts p span {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #8FE3F9;
}

.line-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-circle .line {
  height: 84px;
  border: 1px solid #87879D;
  opacity: .25;
}

.line-circle .circle {
  width: 56px;
  height: 56px;
  background: #FAFAFA;
  border: 1px solid rgba(135, 135, 157, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.line-circle .circle span {
  color: #87879D;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
}

.img-container {
  width: 327px;
  height: 310px;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
      grid-template-areas: "A B" "C D";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container .img-1 {
  background-image: url(/assets/desktop/image-woman-in-videocall.jpg);
  width: 151px;
  height: 143px;
  background-size: contain;
  border-radius: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

.img-container .img-2 {
  background-image: url(/assets/desktop/image-women-videochatting.jpg);
  width: 151px;
  height: 143px;
  background-size: contain;
  border-radius: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B;
}

.img-container .img-3 {
  background-image: url(/assets/desktop/image-men-in-meeting.jpg);
  width: 151px;
  height: 143px;
  background-size: contain;
  border-radius: 8px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: C;
}

.img-container .img-4 {
  background-image: url(/assets/desktop/image-man-texting.jpg);
  width: 151px;
  height: 143px;
  background-size: contain;
  border-radius: 8px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: D;
}

.text-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3rem 0rem 10rem 0rem;
}

.text-container-2 h3 {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4D96A9;
}

.text-container-2 h2 {
  width: 327px;
  height: 72px;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #28283D;
  padding-top: 2rem;
}

.text-container-2 p {
  width: 327px;
  height: 130px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
  padding-top: 2rem;
}

.footer {
  width: 360px;
  height: 428px;
  background-image: url(/assets/mobile/image-footer.jpg);
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
}

.footer .filter {
  width: 360px;
  height: 428px;
  background-color: #4D96A9;
  position: absolute;
  opacity: .6;
}

.footer .line-circle-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  position: absolute;
  top: -160px;
  left: 159px;
  z-index: 2;
}

.footer .line-circle-f .line-f {
  height: 84px;
  border: 1px solid #87879D;
  opacity: .25;
}

.footer .line-circle-f .circle-f {
  width: 56px;
  height: 56px;
  background: #FAFAFA;
  border: 1px solid rgba(135, 135, 157, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .line-circle-f .circle-f span {
  color: #87879D;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
}

.footer .text-container-footer {
  position: relative;
  width: 360px;
  height: 428px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .text-container-footer h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #FAFAFA;
}

.footer .text-container-footer p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FAFAFA;
}

.footer .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  gap: 2rem;
  text-align: center;
}

.footer .text p {
  padding: 1rem;
}

.footer .text .btn {
  width: 193px;
  height: 58px;
  background-color: #855FB1;
  border-radius: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .text .btn p {
  font-size: 16px;
}

.footer .text .btn p span {
  font-size: 16px;
  color: #D9B8FF;
}

@media screen and (min-width: 700px) {
  .hero {
    width: 700px;
  }
  .hero-img {
    width: 700px !important;
    height: 303px !important;
    background-image: url(/assets/tablet/image-hero.png);
  }
  .text-description {
    width: 457px;
    height: 262px;
  }
  .text-description .btn-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-description .btn-container .btn-download {
    margin: 0;
  }
  .img-container {
        grid-template-areas: "A B C D";
    width: 689px;
    height: 156px;
  }
  .text-container-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 573px;
    height: 240px;
  }
  .text-container-2 h2 {
    width: 445px;
    height: 88px;
    text-align: center;
    font-size: 40px;
    line-height: 44px;
    margin: 0;
  }
  .footer {
    width: 700px;
    height: 390px;
    background-image: url(/assets/tablet/image-footer.jpg);
    position: relative;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .filter {
    width: 700px;
    height: 390px;
    opacity: .6;
    background-color: #4D96A9;
    position: absolute;
  }
  .footer .line-circle-f {
    left: 320px;
  }
  .footer .text-container-footer, .footer .text {
    height: 380px;
  }
}
/*# sourceMappingURL=style.css.map */